{% extends "hpux/base.html" %}
{% block content %}
{% load static %}
<!-- Jumbotron Header -->
<header class="jumbotron my-4">
    <br><br>
  <h1 class="display-4">PRT - PULS REGISTRATION TOOL</h1>
  <br><br>
  <a href="hpux" class="btn btn-primary btn-lg">HPUX</a>&nbsp;&nbsp;
  <a href="#" class="btn btn-primary btn-lg">LINUX</a>&nbsp;&nbsp;
  <a href="#" class="btn btn-primary btn-lg">AIX</a>&nbsp;&nbsp;
  <a href="#" class="btn btn-primary btn-lg">SOLARIS</a>&nbsp;&nbsp;
  <a href="#" class="btn btn-primary btn-lg">WINDOWS</a>
</header>
    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{% static "img/zuzu1.jpeg" %}" alt="">
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{% static "img/zuzu2.jpeg" %}" alt="">
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{% static "img/zuzu3.jpeg" %}" alt="">
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{% static "img/zuzu4.jpeg" %}" alt="">
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Ashish.Pandey7@vodafone.com 2019</p>
    </div>
    <!-- /.container -->
  </footer>
{% endblock content %}
